In [ ]:
'''
Using the range() Function

Python’s range() function makes it easy to generate a series of numbers.
For example, you can use the range() function to print a series of numbers
like this:
'''
for value in range(11):
  print(value)

In [ ]:
for value in range(1, 5):
  print(value)

In [ ]:
#print odd number till 10

'''
Three arguments are passed to the range function:
• The first argument, 1, is the starting value for the sequence.
• The second argument, 10, is the ending limit of the list. This means that the last number
in the sequence will be 9.
• The third argument, 2, is the step value. This means that 2 will be added to each successive
number in the sequence.

'''
for value in range(1, 10, 2):
  print(value)

In [ ]:
#print even number till 10
for value in range(0, 10, 2):
  print(value)

In [ ]:
#print even number till 10
for value in range(0, 11, 2):
  print(value)

In [ ]:
#print even number till 100 in gap of 10
for value in range(0, 101, 10):
  print(value)

In [ ]:
for value in range(5, -1, -1):
    print(value)

In [ ]:
for i in range(1,3):
 for j in range(1,3):
   print('Twinkle')
 print('Little Star') 
 print('\n')

In [ ]:
#1 + 2 + 3 ...+ 10 = 

sum = 0

for i in range(1, 11):
  print(i)
  sum = sum + i

print(f"sum is {sum}")

In [ ]:
#1 + 3 + 5 ...+ 9 = 

sum = 0

for i in range(1, 11, 2):
    print(i)
    sum = sum + i

print(f"sum is {sum}")

In [ ]:
#0 + 2 + 4 ...+ 10 = 

sum = 0

for i in range(0, 11, 2):
    print(i)
    sum = sum + i

print(f"sum is {sum}")

In [ ]:
# Find the factors of a number
number = int(input('Enter the number for which you want to find factors'))

for i in range(1, number+1):
  if number%i == 0:
    print(f'{i} is a factor of {number}')

In [ ]:
'''
Number & Squares
'''

# Print the table headings.
print('Number\tSquare')
print('--------------')

# Print the numbers 1 through 10
# and their squares.
for number in range(1, 11):
    square = number**2
    print(f'{number}\t{square}')

In [ ]:
# This program simulates 10 tosses of a coin.
import random

# Constants
HEADS = 1
TAILS = 2
TOSSES = 10

for toss in range(TOSSES):
    # Simulate the coin toss.
    if random.randint(HEADS, TAILS) == HEADS:
        print('Heads')
    else:
        print('Tails')

In [ ]:
# This program uses a loop to display a
# table of numbers and their squares.

# Get the ending limit.
print('This program displays a list of numbers')
print('(starting at 1) and their squares.')
end = int(input('How high should I go? '))
    
# Print the table headings.
print()
print('Number\tSquare')
print('--------------')

# Print the numbers and their squares.
for number in range(1, end + 1):
    square = number**2
    print(f'{number}\t{square}')

In [ ]:
# This program converts the speeds 60 kph
# through 130 kph (in 10 kph increments)
# to mph.

start_speed = 60            # Starting speed
end_speed = 131             # Ending speed
increment = 10              # Speed increment
conversion_factor = 0.6214  # Conversion factor

# Print the table headings.
print('KPH\tMPH')
print('--------------')

# Print the speeds.
for kph in range(start_speed, end_speed, increment):
    mph = kph * conversion_factor
    print(f'{kph}\t{mph:.1f}')

In [ ]:
'''
 A B C

 A C B

 B A C

 B C A

 C A B

 C B A

 3! = 3 X 2 X 1  = 6


 5! = 5 X 4 X 3 X2 X1 =120

 '''

factorial = 1

for i in range (1, 5+1):
   factorial = factorial*i

print(f'factorial is {factorial}')

In [1]:
# Get the number of test scores per student.
num_test_scores = int(input('How many test scores per student? '))
total = 0
score = 0

# Get the student's test scores.

for test_num in range(num_test_scores):
    
    score = float(input('Enter the score of test '))
    print(f'Test number {test_num + 1} - {score}')
    # Add the score to the accumulator.
    total += score

# Calculate the average test score for this student.
average = total / num_test_scores

 #Display the average.
print(f'The average for student is: {average:.1f}')

Test number 1 - 90.0
Test number 2 - 78.0
Test number 3 - 89.0
Test number 4 - 97.0
Test number 5 - 85.0
The average for student is: 87.8

In [ ]:
# Nested Loop

# This program averages test scores. It asks the user for the
# number of students and the number of test scores per student.

# Get the number of students.
num_students = int(input('How many students do you have? '))

# Get the number of test scores per student.
num_test_scores = int(input('How many test scores per student? '))

# Determine each students average test score.
for student in range(num_students):
    # Initialize an accumulator for the test scores.
    total = 0.0

    # Display the student number.
    print(f'Student number {student + 1}')
    print('-----------------')

    # Get the student's test scores.

    for test_num in range(num_test_scores):
        
        score = float(input('Enter the score of test '))
        print(f'Test number {test_num + 1} - {score}')
        # Add the score to the accumulator.
        total += score

    # Calculate the average test score for this student.
    average = total / num_test_scores

    #Display the average.
    print(f'The average for student is: {average:.1f}')

    
    print()

In [3]:
for col in range(6):
    print('*', end='')

******

In [ ]:
number = int(input("Enter the number to generate the table for."))

for i in range (1, 11):
  print(f'{number} X {i} = {number*i}')

In [2]:
number = int(input("Enter the number you want to generate tables upto"))

for i in range (1, number+1):
  for j in range (1, 11):
    print(f'{i} X {j} = {i*j}')
  print()

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [4]:
# This program displays a rectangular pattern
# of asterisks.
rows = int(input('How many rows? '))
cols = int(input('How many columns? '))

for r in range(rows):
    for c in range(cols):
        print('*', end='')
    print()

********
********
********
********
********

In [5]:
# This program displays a triangle pattern.
base_size = 5

for r in range(base_size):
    for c in range(r + 1):
        print('*', end='')
    print()

*
**
***
****
*****

In [6]:
# This program displays a triangle pattern.
base_size = 5

for r in range(base_size):
    for c in range(r):
        print(' ', end='')
    print('#')

#
 #
  #
   #
    #

In [1]:
# This program displays a triangle pattern.
base_size = 5

for r in range(1, base_size+1):
    for c in range(1, r + 1):
        print(r, end='')
    print()

1
22
333
4444
55555

In [2]:
k=65
for i in range(1,5):
    for j in range(i):
        print(chr(k),end=" ")
        k=k+1
    print()
    k=65

A
A B
A B C
A B C D

In [3]:
# This program displays a triangle pattern.
base_size = 5

for r in range(1, base_size+1):
    for c in range(1, r + 1):
        print(c, end='')
    print()

1
12
123
1234
12345

In [4]:
# This program displays a triangle pattern.
base_size = 5

for r in range(base_size, -1, -1):
    for c in range(1, r + 1):
        print(r, end='')
    print()

55555
4444
333
22
1

In [5]:
# This program displays a triangle pattern.
base_size = 5

for r in range(base_size, 0, -1):
    for c in range(r, 0, -1):
        print(c, end='')
    print()

54321
4321
321
21
1

In [6]:
number = n

isPrime = 1
for i in range(2, n):
  if number%i==0:
    isPrime = 0
    break 


if isPrime == 1:
  print('Its a prime number')
else:
  print('Its not a prime number')

NameError: name 'n' is not defined

In [9]:
primeNumber = int(input("Enter the number to be tested for prime?"))

isPrime = True
for i in range(2, primeNumber):
    if primeNumber % i == 0:
        isPrime = False
        break

if isPrime == True:
    print("It's a prime number")    
else:
    print("It's not a prime number")

It's not a prime number

In [16]:
'''
**********
**********
**********
'''

for rows in range(3):
    for columns in range(10):
        print('*', end='')
    print()

**********
**********
**********

In [4]:
'''
*
**
***
****
*****

'''


for r in range(1, 6):
    for n in range(r):
        print('A', end='')
    print()

A
AA
AAA
AAAA
AAAAA

In [5]:
'''

1 

22 

333 

4444 

55555

'''


for r in range(1, 6):
    for n in range(r):
        print(r, end='')
    print()

1
22
333
4444
55555

In [6]:
'''
1 

12 

123 

1234 

12345
'''

for r in range(1, 6):
    for c in range(1, r+1):
        print(c, end='')
    print()

1
12
123
1234
12345

In [9]:
'''
55555 

4444 

333 

22 

1
'''


for r in range(5, 0, -1):
    for c in range(r):
        print(r, end = '')

    print()

55555
4444
333
22
1

In [ ]:
'''
54321 

4321 

321 

21 

1
'''

In [10]:
sum = 0
for i in range(64):
	sum = sum + 2**i

print(sum)

18446744073709551615

In [4]:
sm=0
print("Numbers from 1 to 20 which are not divisible by 2,3,or 5")

for i in range(1,20):
     if i%2==0 or i%3==0 or i%5==0:
         print("")
     else:
         print(i)
         sm += i
print("Sum of Even numbers from 1 to 10 is = ",sm)

Numbers from 1 to 20 which are not divisible by 2,3,or 5
1





7



11

13



17

19
Sum of Even numbers from 1 to 10 is =  68